<div class="outer-box">
  <div class="inner-box">
    <h4>Select Chart</h4>
    <hr class="divider" />
    <ul>
      <li (click)="select('pie')">Pie Chart</li>
      <li (click)="select('column')">Column Chart</li>
      <li (click)="select('line')">Line Chart</li>
    </ul>
    <hr class="divider" />
    <ul>
      <li (click)="select('treemap')">Treemap Chart</li>
      <li (click)="select('area')">Area Chart</li>
      <li (click)="select('stacked-bar')">Stacked Bar Chart</li>
    </ul>
  </div>
</div>
